<div class="row" style="margin-bottom: 20px">
  <div class="col-md-4"><%= image_tag comparable_otm[:property_default_photo][:large_url], width: '100%' %></div>
  <div class="col-md-8">
  	<%= comparable_otm[:property_address][:address] %> <br/>
  	<%= pretty_price comparable_otm[:current_listing_price] %> <br/>
  	<%= comparable_otm[:property_attributes][:all_property_attributes] %> <br/>
  	Listed since: <%= pretty_date comparable_otm[:listing_start_date] %> <br/>
  	Agency: <%= comparable_otm[:listing_agency_name] %> <br/>
  	Agent: <%= comparable_otm[:listing_agent_name] %> 
  </div>
</div>