<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#grid" data-toggle="pill">Grid View</a></li>
  <li><a href="#map" data-toggle="pill" id="link_map">Map View</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="grid">
    <div class="row">
      <div class="col-md-6" style="text-align: center">
        <h3>Currently On The Market</h3>&nbsp;Total: <%= @comparable_otms.count %>
        Avg $: <%= pretty_price @comparable_otms_avg_price %>
        Avg DOM: <%= @comparable_otms_avg_dom %>
      </div>
      <div class="col-md-6" style="text-align: center">
        <h3>Comparable Sales</h3>
        Total: <%= @recent_sales.count %> 
        Avg Price: <%= pretty_price @market_comparisons_avg_price %>  
      </div>
    </div>
    
    <div class="row" >
      <div class="col-md-6" style="height: 430px; overflow: auto">
        <%= render partial: "comparable_otm", collection: @comparable_otms %> 
      </div>
      <div class="col-md-6" style="height: 430px; overflow: auto">
        <%= render partial: "market_comparison", collection: @recent_sales %> 
      </div>
    </div>
  </div>

  <div class="tab-pane" id="map">
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
  </div>
</div>




<script type="text/javascript">
  $(function(){
    setup_map(<%= raw @hash.to_json %>);
  });
  
</script>