<div class="row" style="margin-bottom: 20px">
  <div class="col-md-4"><%= image_tag market_comparison[:property_default_photo][:large_url], width: '100%' %></div>
  <div class="col-md-8">
  	<b><%= market_comparison[:property_address][:address] %></b> <br/>
  	<%= market_comparison[:property_attributes][:all_property_attributes] %> <br/>
  	Sold for: <%= pretty_price market_comparison[:property_sale][:transfer_price] %> in <%= pretty_date market_comparison[:property_sale][:transfer_date] %> <br/>
  	<%= market_comparison[:property_sale][:transfer_type] %> <br/>

  </div>
</div>