

<div class="row">
  <div class="col-md-2">
    <%= image_tag @property_details.photo %> 
     <br/><br/>
    <%= rpp_property_link(@property_details.id) %>
    <br/>
    <%= sales_cma_link(@property_details.id) %>
    <br/>
    <%= rental_cma_link(@property_details.id) %>
    <br/>
    <%= avm_link('7664642') %>
  </div>
  <div class="col-md-4">
    <b><%= @property_details.address %></b>
    <br/>
    Bed: <%= @property_details.bedrooms %> <br/>
    Bath: <%= @property_details.bathrooms %> <br/>
    Car spaces: <%= @property_details.car_spaces %><br/> 
    Year built: <%= @property_details.year_built %> <br/>
    Land area: <%= @property_details.land_area %> 
   
  </div>

  <div class="col-md-6">
    <%= form_tag('/properties/show/valuers', method: 'get', class: 'form-inline', role: 'form') do %> 
      <input type="text" name="address" class="form-control" placeholder="Try a different address" style="width: 80%">
      <button type="submit" class="btn btn-default">Submit</button>
    <% end %> 
  </div>
</div>

<h3>Sale History</h3>
<table class="table table-striped" >
 <tr> <th>Sale Date</th> <th>Sale type</th> <th>Price</th> <th>Purchaser</th> <th>Vendor</th> <th>Settlement Date</th> </tr>
 <% @history_details.sale_history.each do |sale_history| %>
 	<tr>
 		<td><%= pretty_date sale_history[:transfer_date]%></td>
 		<td><%= sale_history[:transfer_type]%></td>
 		<td><%= pretty_price sale_history[:transfer_price]%></td>
 		<td>Not given</td>
    <% if sale_history[:vendors].is_a?(Array) %>
      <td><%= sale_history[:vendors].collect{|v| "#{v[:first_name]} #{v[:last_name]}"}.join(", ") %></td>
    <% else %> 
      <td><%= "#{sale_history[:vendors][:first_name]} #{sale_history[:vendors][:last_name]}" %></td>
    <% end %> 
 		<td><%= pretty_date sale_history[:settlement_date]%></td>
 	</tr>
 <% end %> 
</table>

<h3>Market History (as sale)</h3>
<table class="table table-striped">
  <tr> <th>Listed date</th> <th>Listed type</th> <th>Listed price description</th> <th>Agency</th> <th>Agent</th> <th>Days listed</th> </tr>
  <% @history_details.market_sale_history.each do |otm_sale_history| %>
    <tr>
      <td><%= pretty_date otm_sale_history[:latest_list_date] %></td>
      <td><%= otm_sale_history[:listing_type_description] %></td>
      <td><%= otm_sale_history[:latest_listed_price_description] %></td>
      <td><%= otm_sale_history[:agency_name] %></td>
      <td><%= otm_sale_history[:agent_name] %></td>
      <td><%= otm_sale_history[:days_listed] %></td>
    </tr>
  <% end %> 
</table>

<% if @history_details.market_rental_history %>
<h3>Market History (as rental)</h3>
<table class="table table-striped">
<tr> <th>Listed date</th> <th>Listed price</th> <th>Agency</th> <th>Agent</th> <th>Days listed</th> </tr>
  <% @history_details.market_rental_history.each do |otm_rental_history| %>
    <tr>
      <td><%= pretty_date otm_rental_history[:latest_list_date] %></td>
      <td><%= otm_rental_history[:rental_amount] %></td>
      <td><%= otm_rental_history[:agency_name] %></td>
      <td><%= otm_rental_history[:agent_name] %></td>
      <td><%= otm_rental_history[:days_listed] %></td>
    </tr>
  <% end %> 
</table>
<% end %>

<div class="row">
  <div class="col-md-6" style="text-align: center">
    <h3>Currently On The Market</h3>&nbsp;Total: <%= @comparable_otms.count %>
    Avg $: <%= pretty_price @comparable_otms_avg_price %>
    Avg DOM: <%= @comparable_otms_avg_dom %>
  </div>
  <div class="col-md-6" style="text-align: center">
    <h3>Comparable Sales</h3>
    Total: <%= @market_comparisons.count %> 
    Avg Price: <%= pretty_price @market_comparisons_avg_price %>  
  </div>
</div>
<div class="row" >
  <div class="col-md-6" style="height: 430px; overflow: auto">
    <%= render partial: "comparable_otm", collection: @comparable_otms %> 
  </div>
  <div class="col-md-6" style="height: 430px; overflow: auto">
    <%= render partial: "market_comparison", collection: @market_comparisons %> 
  </div>
</div>

<%= render partial: 'suburb_stats' %>







