

<div class="row">
  <div class="col-md-2">
    <%= image_tag @property_details.photo %> 
  </div>
  <div class="col-md-4">
    <b><%= @property_details.address %></b>
    <br/>
    Bed: <%= @property_details.bedrooms %> <br/>
    Bath: <%= @property_details.bathrooms %> <br/>
    Car spaces: <%= @property_details.car_spaces %><br/> 
    Year built: <%= @property_details.year_built %> <br/>
    Land area: <%= @property_details.land_area %>m2
   
  </div>

  <div class="col-md-6">
    <%= form_tag('/properties/show', method: 'get', class: 'form-inline', role: 'form') do %> 
      <div style="position: relative">
        <input id="address_input" type="text" name="address" class="form-control" placeholder="Try a different address" style="width: 80%"/>
        <ul style="padding: 10px" id="suggestion_list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          
        </ul>
        <button type="submit" class="btn btn-default" onclick="$('#ajax_indicator').fadeIn();">Submit</button>
      </div>

      
    <% end %> 
    <br/>
    <%= rpp_property_link(@property_details.id) %>
    
    <%= sales_cma_link(@property_details.id) %>
    
    <%= rental_cma_link(@property_details.id) %>
    
    <%= avm_link(@property_details.id) %>
  </div>
</div>

<h3>Sale History</h3>
<table class="table table-striped" >
 <tr> <th>Sale Date</th> <th>Sale type</th> <th>Price</th> <th>Purchaser</th> <th>Vendor</th> <th>Settlement Date</th> </tr>
 <% @history_details.sale_history.reject(&:blank?).each do |sale_history| %>
 	<tr>
 		<td><%= pretty_date sale_history[:transfer_date]%></td>
 		<td><%= sale_history[:transfer_type]%></td>
 		<td><%= pretty_price sale_history[:transfer_price]%></td>
 		<td>Not given</td>
    <% if sale_history.has_key?(:vendors) %>
      <% if sale_history[:vendors].is_a?(Array) %>
        <td><%= sale_history[:vendors].collect{|v| "#{v[:first_name]} #{v[:last_name]}"}.join(", ") %></td>
      <% else %> 
        <td><%= "#{sale_history[:vendors][:first_name]} #{sale_history[:vendors][:last_name]}" %></td>
      <% end %> 
    <% end %>
 		<td><%= pretty_date sale_history[:settlement_date]%></td>
 	</tr>
 <% end %> 
</table>

<h3>Market History (as sale)</h3>
<table class="table table-striped">
  <tr> <th>Listed date</th> <th>Listed type</th> <th>Listed price description</th> <th>Agency</th> <th>Agent</th> <th>Days listed</th> </tr>
  <% @history_details.market_sale_history.reject(&:blank?).each do |otm_sale_history| %>
    <tr>
      <td><%= pretty_date otm_sale_history[:latest_list_date] %></td>
      <td><%= otm_sale_history[:listing_type_description] %></td>
      <td><%= otm_sale_history[:latest_listed_price_description] %></td>
      <td><%= otm_sale_history[:agency_name] %></td>
      <td><%= otm_sale_history[:agent_name] %></td>
      <td><%= otm_sale_history[:days_listed] %></td>
    </tr>
  <% end %> 
</table>

<% if @history_details.market_rental_history %>
<h3>Market History (as rental)</h3>
<table class="table table-striped">
<tr> <th>Listed date</th> <th>Listed price</th> <th>Agency</th> <th>Agent</th> <th>Days listed</th> </tr>
  <% @history_details.market_rental_history.reject(&:blank?).each do |otm_rental_history| %>
    <tr>
      <td><%= pretty_date otm_rental_history[:latest_list_date] %></td>
      <td><%= otm_rental_history[:rental_amount] %></td>
      <td><%= otm_rental_history[:agency_name] %></td>
      <td><%= otm_rental_history[:agent_name] %></td>
      <td><%= otm_rental_history[:days_listed] %></td>
    </tr>
  <% end %> 
</table>
<% end %>

<h3>Suburb stats</h3>
<%= render partial: 'suburb_stats' %>

<div id="comparables" >

</div>
<script type="text/javascript">
  $(function(){
    $('#comparables').append("<h4>loading comparable sales...</h4>");
    $.post("/properties/load_comparables",{ rp_data_id: <%= @property_details.id %> });
  });
</script>




